# Quickstart
View this notebook on [NBViewer](http://nbviewer.jupyter.org/github/yinleon/googlespreadsheets/blob/master/examples/quickstart.ipynb?flush_cache=true) or on [Github](https://github.com/yinleon/googlespreadsheets/blob/master/examples/quickstart.ipynb)

After you authorize the API in the Google Cloud Console, you can download the `client_secrets` file, and request an access token.

In [5]:
import os
import json
from googlespreadsheets import GoogleSheets
from runtimestamp.runtimestamp import runtimestamp
runtimestamp('Leon Yin')

Updated 2018-07-26 17:30:07.832103
By Leon Yin
Using Python 3.6.5
On Linux-3.10.0-514.10.2.el7.x86_64-x86_64-with-centos-7.3.1611-Core

In [3]:
CRED_PATH = '/home/ly501/.creds'
CLIENT_SECRET_FILE = os.path.join(CRED_PATH,
                                  'client_secret.json')
AUTHENTICATED_CRED = os.path.join(CRED_PATH,
                                 'access_token.json')

Instantiate the API wrapper:

In [5]:
goog = GoogleSheets(client_secret=CLIENT_SECRET_FILE, 
                    access_token=AUTHENTICATED_CRED)

In [15]:
# this is a public sheet
sheet_id = '1BxiMVs0XRA5nFMdKvBdBZjgmUUqptlbs74OgvE2upms'

In [7]:
df = goog.read_sheet(sheet_id, tab='Class Data', cell_range='A1:F')
df.head()

,Student Name,Gender,Class Level,Home State,Major,Extracurricular Activity
0,Alexandra,Female,4. Senior,CA,English,Drama Club
1,Andrew,Male,1. Freshman,SD,Math,Lacrosse
2,Anna,Female,1. Freshman,NC,English,Basketball
3,Becky,Female,2. Sophomore,SD,Art,Baseball
4,Benjamin,Male,4. Senior,WI,English,Basketball

In [8]:
# create an entirely new sheet
resp = goog.to_sheet(df, cell_range='A1:F')

In [9]:
resp

{'spreadsheetId': '14KplKfDKxdau0xxOFh-9CbXV5NUfCYL_qVclFvbbp8U',
 'updatedRange': 'Sheet1!A1:F31',
 'updatedRows': 31,
 'updatedColumns': 6,
 'updatedCells': 186}

Let's modify this dataset by trying to predict if each of these students will be a success:

In [11]:
import random

def predict_future(activity):
    if activity in ['Lacrosse', 'Basketball', 'Baseball']:
        return random.random() < .6
        
    elif activity in ['Debate', 'Drama Club']:  
        return random.random() < .2
    
    else:
        return random.random() >= .5

In [13]:
df['Is Successful'] = df['Extracurricular Activity'].apply(predict_future)

We can use `to_sheet` to update sheets as well:

In [14]:
goog.to_sheet(df, sheet_id=resp['spreadsheetId'], 
              cell_range='A1:G', tab='Sheet1')

{'spreadsheetId': '14KplKfDKxdau0xxOFh-9CbXV5NUfCYL_qVclFvbbp8U',
 'updatedRange': 'Sheet1!A1:G31',
 'updatedRows': 31,
 'updatedColumns': 7,
 'updatedCells': 217}